
{% extends 'base.html' %}

{% block content %}

    <!-- <form action="/search" method="post">
        <label>Select Features:</label><br>
        <input type="checkbox" name="feature" value="Nearby Beach"> Nearby Beach<br>
        <input type="checkbox" name="feature" value="Nearby School"> Nearby School<br>
        <input type="checkbox" name="feature" value="Nearby Market"> Nearby Market<br>
        <input type="checkbox" name="feature" value="Close to Hospital"> Close to Hospital<br>
        <input type="checkbox" name="feature" value="Office Distance"> Office Distance<br><br>
        <input type="submit" value="Search">
    </form> -->

    <div class="hero">
        <div class="hero-slide">
          <div
            class="img overlay"
            style="background-image: url('/static/images/hero_bg_3.jpg')"
          ></div>
          <div
            class="img overlay"
            style="background-image: url('/static/images/hero_bg_2.jpg')"
          ></div>
          <div
            class="img overlay"
            style="background-image: url('/static/images/hero_bg_1.jpg')"
          ></div>
        </div>
  
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center">
              <h1 class="heading" data-aos="fade-up">
                Select Features
              </h1>
              <!-- <form
                action="#"
                class="narrow-w form-search d-flex align-items-stretch mb-3"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <input
                  type="text"
                  class="form-control px-6"
                  placeholder="Your ZIP code or City. e.g. New York"
                />
                <button type="submit" class="btn btn-primary">Search</button>
              </form> -->
              <div class="alert alert-primary">
                <form action="/search" method="post">
    
                        
                        {% for n in range(count) %}
                            
                            <input type="checkbox" class="form-check-input" id="c{{n}}" name="feature" value="{{ results[n].FeatureName }}" >
                            <label class="form-check-label" for="c{{n}}">{{ results[n].FeatureName }}</label>
                            
                        {% endfor %}
                        <hr>
                        <input type="submit" class="btn btn-primary"/>
            
                </form>
                </div>

            </div>
          </div>
        </div>
      </div>

    <hr>
   

    
{% endblock %}    